@import '../../variables';

.general-input {
  width: 250px;
  display: block;
  margin: 15px auto 15px auto;
  padding: 10px 15px;
  border: 1px solid #c9c9c9;
  &:hover {
    cursor: pointer;
    border-bottom: 1px solid $basic_color;
  }
  &:focus {
    border: 1px solid $basic_color;
    background: #fff;
  }
}

.general-button {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 10px auto;
  color: #fff;
  background: $basic_color;
  border: 1px solid $basic_darker;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    background: $basic_darker;
  }
}
